
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.3s ease-out;
}

.scrolling-images-container {
    height: 100vh; /* Full screen height */
    border: 20px solid #009CDE; /* Blue border around the image container */
    border-radius: 80px; /* Rounded corners to match the images */
  }
  
.scrolling-images {
    display: flex;
    flex-direction: column;
    animation: scrollImages 30s ease-in-out infinite; /* Animation applied here */
    height: 100%; /* Enough height to accommodate the stack of images */
}

.scrolling-images img {
    width: 100%;
    height: 100vh; /* Full height of the viewport */
}

:root{

    --blue: #009CDE;
    --black: #000000;
    --white: white;
    --fonts: "Mona Sans", serif;

}

body{
    font-family: var(--fonts);
    transition: .2s;
    padding: 0;
    margin: 0;
    background-color: #eeeff0;
}

::-webkit-scrollbar{
    width: 0px;
}

